<main>

    <div class="container-fluid mt-5">

        <!-- Heading -->
        <div class="card mb-4 wow fadeIn" style="margin-top: 8%;">

            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">

                <h4 class="mb-2 mb-sm-0 pt-1">
                    <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
                    <span>/</span>
                    <span>Cricket Board</span>
                </h4>


            </div>

        </div>
        <div class="card" >
            <div class="card-body" >
                <h5 class="card-title" >Let's Play Cricket</h5>
                <h3 class="card-title" >{{country1Name}} vs. {{country2Name}}</h3>
                <h3 class="card-title" >Total Run</h3>
                <button class="btn btn-primary" type="submit" (click)="bowl()">Bowl</button>

                <table class="table table-border"> 
                    <thead>
                        <tr>
                            <th>Over</th>
                            <th>Bowl</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of listBowls; let i = index">
                            <td>{{bowlcounter | number:'1.1'}}</td>
                            <td>{{run}}</td>
                        </tr>
                    </tbody>
                </table>

               
            </div>
        </div>
    </div>


</main>