<main>

    <div class="container-fluid mt-5">

        <!-- Heading -->
        <div class="card mb-4 wow fadeIn" style="margin-top: 8%;">

            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">

                <h4 class="mb-2 mb-sm-0 pt-1">
                    <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
                    <span>/</span>
                    <span>Dashboard</span>
                </h4>


            </div>

        </div>
        <div class="card" (submit)="editPartyRolesSubmit()">
            <div class="card-body" style="margin-left: 25rem;">
                <h5 class="card-title" >Let's Play Cricket</h5>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li *ngFor="let obj of countryList; let i = index">
                                <input type="checkbox" id="{{obj.checkbox}}" value="{{obj.id}}" (change)="checkedState($event, obj.id)"/>
                                <label for="{{obj.checkbox}}"><img src="{{obj.src}}" /></label>
                            </li>
                        </ul>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit" [disabled]="disabled == true? true: false" (click)="play()">Select Country</button>
            </div>
        </div>
    </div>


</main>